<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Player</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gumby/2.6.0/css/gumby.min.css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="row">
	<h1><%= name %> <small><%= number %></small></h1>
	<div class="small default btn icon-right entypo icon-home"><a href="/"> Home</a></div>
</body>
</html>